table {
    border-collapse: collapse;
	    width: 100%;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #4CAF50;
	color: white;
}

tr.selected {
	background-color: #ccc;
	font-weight: bold;
}

.table-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
  }
  
  .column {
	width: 48%;
  }
  
  #teams, #players {
	border: 1px solid black;
	padding: 10px;
  }


.article {
	margin-bottom: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #ccc;
  }
  .article:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
  }
  .article img {
	max-width: 100%;
	height: auto;
  }
  .article h2 {
	margin-top: 0;
  }
  .article p {
	margin-bottom: 0;
  }
  .article .link {
	display: block;
	margin-top: 16px;
  }

  .left-vis{
    flex: 50%;
    padding: 10px;
    text-align: center;
}